{% extends 'explores/base.html' %}{% load custom_filters %} {% block content %}
<ul class="list-group">
    {% for post, user in page_obj %}
    <li class="list-group-item">
        <a href="{% url 'check_out_profile' user.id %}">
            <h5 class="mb-1 text-primary fs-3">{{ user.username }}</h5>
        </a>
        <h5 class="mb-1 ms-2">
            {{ post.title|highlight_search:search_query }}
        </h5>

        <p class="mb-0 ms-2">
            {{ post.text|highlight_search:search_query|safe }}
        </p>
    </li>
    {% endfor %} {% if page_obj|length == 0 %}
    <li class="list-group-item">
        <a href="{% url 'check_out_profile' user.id %}"> </a>
        <h5 class="mb-0 ms-2 spin-rainbow">Nothing to show</h5>
    </li>
    {% endif %}
</ul>
{% endblock %}
